<div class="dataTable_wrapper">
    <legend class="section" style="font-weight: 600;"> Pagamentos</legend>
    <div style="float: right">
        <a href="#/pagamentos/new" class="btn btn-primary">Novo <i class="fa fa-plus"></i></a>
    </div>
    <table go-data-table edit-url="#/pagamentos" ajax="../api/payments/paginate" id="dt-list" class="display table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr class="tr-cabecalho">
            <th go-data-table-item name ="id" width="5%">Código</th>
            <th go-data-table-item name ="person" width="40%">Pessoa</th>
            <th go-data-table-item name ="date" width="15%" >Data</th>
            <th go-data-table-item name ="amount" width="15%" >Valor</th>
            <th width="3%"></th>
            <th width="3%"></th>
        </tr>
        <tr class="tr-filtros">
            <th width="30">
                <input id="id-search" restrict-to="[0-9]" type="text" class="form-control" maxlength="8" style="width: 100%" placeholder="Cód."/>
            </th>
            <th>
                <select id="person-search" class="form-control" placeholder="Selecione a Pessoa." style="width: 100%" >
                    <option value="">Filtrar por Pessoa</option>
                    <option ng-repeat="p in persons"  value="{{p.id}}">{{p.name}}</option>
                </select>
            </th>
            <th>
                <input type="text" class="form-control" id="date-search" name="date-search" maxlength="10" style="width: 100%" />
            </th>
            <th>
                <input id="amount-search" class="form-control" style="width: 100%"  ng-model="amount" maxlength="9" type="text" placeholder="Valor" ui-money-mask />
            </th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    $('#date-search').datepicker({
        format: 'dd-mm-yyyy',
        locale: 'pt-br',
        startDate:'01-03-2018',
        endDate:'1d'
    });
</script>