<div class="dataTable_wrapper">
    <legend class="section" style="font-weight: 600;"> Edição de Pessoa</legend>
    <div style="float: right;">
        <button class="btn btn-success" ng-disabled="enableSave()" ng-click="save()"  >Salvar <i class="fa fa-plus"></i></button>
        <a href="#/pessoas" class=" btn btn-primary" >Voltar <i class="fa fa-reply"></i></a>
    </div>
    <div class="row" style="padding-top:3em;">
        <legend class="section" style="font-weight: 600;"></legend>
        <form novalidate action="" name="frm" id="frm">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="person.name" maxlength="50" placeholder="Informe o nome." autofocus required />
                        <span  style="color: #a94442;" ng-show="frm.name.$error.required && frm.name.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-5 form-group">
                        <label for="type">Modo de Identificação</label>
                        <select id="type" ng-model="question.type" data-placeholder="Modo de identificação" class="form-control" required >
                            <option value="">Selecione o modo de identificação</option>
                            <option ng-repeat="t in types"  value="{{t.id}}">{{t.value}}</option>
                        </select>
                        <span  style="color: #a94442;" ng-show="frm.type.$error.required && frm.type.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="checkbox-bootstrap checkbox-lg">
                            <input type="checkbox" ng-model="question.enable">
                            <span class="checkbox-placeholder"></span>Ativo
                        </label>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="bedroom">Resposta</label>
                            <select id="bedroom" ng-model="bedroom" data-placeholder="Resposta" class="form-control">
                                <option value="">Selecione a Resposta</option>
                                <option ng-repeat="t in bedrooms"  value="{{t}}">{{t.description}}</option>
                            </select>
                        </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" type="button" ng-disabled="!enableAddAnswer()" ng-click="addAnswer(bedroom);" style="margin-top: 20px;" >Add <i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Resposta</th>
                                        <th>Tipo</th>
                                        <th style="width: 5% ; min-width: 80px;">Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="e in question.bedrooms">
                                        <td>{{ e.description }}</td>
                                        <td>{{ e.type.method}}</td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="removeAnswer($index)" > <i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>